@charset "UTF-8";

body {
/*	height: 100%;*/
	display: flex;
	background-image: url("../img/Shelf.png");
	background-size: cover;               
	background-attachment: fixed;         
	background-position: center center;
}

img{
	margin: 0 auto;
}

h1{
	text-align: initial;
}

article {
	display: flex;
    margin-right: 10%;
    padding: 1rem 3rem 2rem 3rem;
    width: 25% !important;
    min-width: 35rem;
}

.text{
	width: 100%;
	margin:auto;
}

.mainLogo{
	margin:auto;
}

.mainLogo .logo{
	width: 400px;
}

.text .logo{
	width: 250px;
}