@charset "UTF-8";

body {
/*	height: 100%;*/
	display: flex;
	background-image: url("../img/Shelf.png");
	background-size: cover;               
	background-attachment: fixed;         
	background-position: center center;
}

img{
	margin: 0 auto;
}

h1{
	margin-top:0;
}

article {
	display: flex;
    margin-right: 10%;
    max-width: 700px;
}

.text{
	width: 100%;
	margin:auto;
}

.mainLogo{
	margin:auto;
}

.mainLogo .logo{
	width: 400px;
}

.text .logo{
	width: 250px;
}